# =====================================================================================
#
#       filename:  
#
#    description:  configure file
#
#        version:  1.0
#        created:  
#       revision:  none
#       compiler:  
#
#         author:  amadeuzou
#        company:  
#
#      copyright:  2014 Instreet Inc. All Rights Reserved.
#      
# =====================================================================================

# server setting
server.host = 127.0.0.1
server.port = 9119

# redis setting
redis.host = 127.0.0.1
redis.port = 6379
redis.db = 14

# image saved directory
dir.images = /pixlab/

# feature saved directory
dir.features = /pixlab/

